# JSON and XML - Lab

## Introduction

In this lab, we'll continue investigating new formats for datasets. Specifically, we'll investigate two of the most popular data formats for the web: JSON and XML including strenghts and weaknesses.

## Objectives
You will be able to:
* Effectively use the JSON module to load and parse JSON documents
* Read and access data stored in JSON and XML
* Compare  and contrast the JSON and XML as data interchange types

## XML

In [1]:
import xml.etree.ElementTree as ET

### Create an XML tree and retrieve the root tag.

In [2]:
!ls

2001_Campaign_Contributions.csv  LICENSE.md			 README.md
CONTRIBUTING.md			 nyc_2001_campaign_finance.json
index.ipynb			 nyc_2001_campaign_finance.xml

In [3]:
#Your code here
tree = ET.parse('nyc_2001_campaign_finance.xml')
root = tree.getroot()

### How many direct descendents does the root tag have?

In [7]:
#Answer: 1
for child in root:
    print(child)
          
len(root)

<Element 'row' at 0x7f1d241c1cc8>

1

### How many different types of tags are there within the entire XML file?

In [59]:
# Your code here
tags = []
i = 0
for element in root.iter():
    tags.append(element.tag)
print(tags[:50])
len(set(tags))

['response', 'row', 'row', 'candid', 'candname', 'officeboro', 'canclass', 'row', 'election', 'candid', 'candname', 'officecd', 'officedist', 'canclass', 'primarypay', 'generalpay', 'runoffpay', 'totalpay', 'row', 'election', 'candid', 'candname', 'officecd', 'officedist', 'canclass', 'primarypay', 'generalpay', 'runoffpay', 'totalpay', 'row', 'election', 'candid', 'candname', 'officecd', 'officedist', 'canclass', 'primarypay', 'generalpay', 'runoffpay', 'totalpay', 'row', 'election', 'candid', 'candname', 'officecd', 'officedist', 'canclass', 'primarypay', 'generalpay', 'runoffpay']

13

### Create a DataFrame listing the number of each type of tag. 
Sort the DataFrame in descending order by the tag count. The first entry should demonstrate there are 286 row tags in the XML file.   
(Your DataFrame will be a single column, so could also be thought of as a Series.)

In [62]:
import pandas as pd

In [68]:
#Your code here
tags = {}
for element in root.iter():
    tags[element.tag] = tags.get(element.tag, 0) + 1
df = pd.DataFrame.from_dict(tags, orient='index')
df.columns = ['counts']
df.head().sort_values(by='counts', ascending=False)

            counts
row            286
candid         285
candname       285
officeboro      21
response         1

## JSON

### Open the same dataset from json

In [69]:
#Your code here
import json

In [72]:
f = open('nyc_2001_campaign_finance.json')
data = json.load(f)
type(data)

dict

### What is the root data type of the json file?

In [75]:
### Your code here
type(data)

dict

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [77]:
#Your code here
type(data['data'])

list

### Preview the first entry from the value returned by the 'data' key above.

In [87]:
#Your code here
data['data'][0]

[1,
 'E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1',
 1,
 1315925633,
 '392904',
 1315925633,
 '392904',
 '{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}',
 None,
 'CANDID',
 'CANDNAME',
 None,
 'OFFICEBORO',
 None,
 'CANCLASS',
 None,
 None,
 None,
 None]

In [88]:
len(data['data'][0])

19

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

In [86]:
data['meta']['view']['columns'][:3]

[{'id': -1,
  'name': 'sid',
  'dataTypeName': 'meta_data',
  'fieldName': ':sid',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'id',
  'dataTypeName': 'meta_data',
  'fieldName': ':id',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'position',
  'dataTypeName': 'meta_data',
  'fieldName': ':position',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']}]

In [89]:
len(data['meta']['view']['columns'])

19

### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

In [93]:
#Your code here
df = pd.DataFrame(data['data'])
df.columns = [i['name'] for i in data['meta']['view']['columns']]
df.head()

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,ELECTION,CANDID,CANDNAME,OFFICECD,OFFICEBORO,OFFICEDIST,CANCLASS,PRIMARYPAY,GENERALPAY,RUNOFFPAY,TOTALPAY
0,1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,1,1315925633,392904,1315925633,392904,"{\n ""invalidCells"" : {\n ""1519001"" : ""TOTA...",None,CANDID,CANDNAME,None,OFFICEBORO,None,CANCLASS,None,None,None,None
1,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,1315925633,392904,1315925633,392904,{\n},2001,B4,"Aboulafia, Sandy",5,None,44,P,45410.00,0,0,45410.00
2,3,B80D7891-93CF-49E8-86E8-182B618E68F2,3,1315925633,392904,1315925633,392904,{\n},2001,445,"Adams, Jackie R",5,None,7,P,11073.00,0,0,11073.00
3,4,BB012003-78F5-406D-8A87-7FF8A425EE3F,4,1315925633,392904,1315925633,392904,{\n},2001,HF,"Addabbo, Joseph P",5,None,32,P,75350.00,73970.00,0,149320.00
4,5,945825F9-2F5D-47C2-A16B-75B93E61E1AD,5,1315925633,392904,1315925633,392904,{\n},2001,IR,"Alamo-Estrada, Agustin",5,None,14,P,25000.00,2400.00,0,27400.00

### What's wrong with the first row of the DataFrame?

In [94]:
#Your code here
# its'got column names for some values and its meta is whack

#Your answer here

## Summary

Congratulations! You've started exploring some more complicated data structures used for the web and got to practice data munging and exploring!